<!DOCTYPE HTML>
<HTML lang="en"><!-- มันคือตัวที่สั่งให้โปรเเกรมใช่ภาษานัน-->
<head>
	<meta charset= "UTF-8">
	<title> CMM 19 </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css"><!--ตรง https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css เอามาจาก bulma.io  คำสั่งนี้เป็นตัวโหลด CSS มาใช้กับเว็บของเรา มันจะได้ไม่ต้องมาหนักเครื่องเค่เลือกใช้อย่างเดียวพอ -->
	<link rel="stylesheet" href="/assets/home.css">
</head>
<body>
	<header>
	  <div class="has-text-centered">
		<img src="/assets/images/logo.png" alt="" width="145" height="auto"><!--วิธีใส่รูป-->
	  </div>
    	<nav class="navbar-tabs">
        <a href="#" class="navbar-item">WORK</a>
        <a href="#" class="navbar-item">LIFESTYLE</a>
        <a href="#" class="navbar-item">BTS</a>
        <a href="#" class="navbar-item">KIK</a>
        <a href="#" class="navbar-item">KIKIIK</a>
        <a href="#" class="navbar-item">KIKKIIIK</a>
        <a href="#" class="navbar-item">KIKKIIIIK</a>
        <a href="#" class="navbar-item">KIKKIIIIIK</a>
        </nav>
     
	</header>
    
    <main>
    	<section class="banner"> <!--มี12 คลอลัม-->
    		<div class="highlight">	
    			<div class="columns">
    				  <div class="column highlight-item">
               			  <h1>Hello </h1>
            		  </div>
                </div>
    		</div>	

    		<div class="thumbnail">
    			<div class="columns is-marginless">
    				<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg); ">
    					     THE MOST BEAUTIFUL MOMENT IN LIFE PT.1
    				</div>

    				<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg); ">
    					     THE MOST BEAUTIFUL MOMENT IN LIFE PT.2
    				</div>

    				<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg); ">
    					      YOUNG FOREVER
    				</div>

    				<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg); ">
    					     WINGS
    				</div>

                </div>
    		</div>	
    	</section>



    	<section class="section we-present">
    		<div class="container"><!--เป็นตัวที่บอกว่ามันต้องอยุ่เเค่นั้นห้ามเกิน-->
    			<div class="columns">
    				<div class="column has-text-left">
    					<a href="#">LASTET</a>
    				</div>
    				<div class="column has-text-centered">
    					 WE PRESET
    				</div>
    				<div class="column has-text-right">
    					<a href="#">SEARCH</a>
    				</div>
    			</div>

    			<div class="columns is-multiline"><!--is-multiline มันเป้นโค้ดของ Bulma อยู่เเล้ว-->
    				<a href="#" class="column is-one-third">
    					<div class="card">
    						<div class="card-image">
    							<figure class="images is-3by2">
    								<img src="assets/images/home/we-preset/img-1.jpg" alt="image-1">
    							</figure>
    						</div>
    						<div class="card-content">
    							<h5 class="category">Kim Nam-Joon</h5><br>
    							<h3 class="title is-spaced is-4">
    								ฟาสต์ฟู้ด แฟรนไชส์สเก็ตช์ติ๋ม เชอร์รี่ควีน บรรพชนวาซาบิ โอ้ยสะเด่าคอมเมนต์ ยากูซ่า 
    							</h3>
    							<h4 class="subtitle is-6"> BANGTAN</h4>
    							<p>
    								เอาต์ขั้นตอน แพทเทิร์นมายองเนสทริปเป่ายิงฉุบแหม็บ มายองเนสอะบุ๋นสเตอริโอ สไปเดอร์เกย์ศึกษาศาสตร์ ปัจฉิมนิเทศ เซนเซอร์ แฟล็ตตู้เซฟสามช่าแคร์เปราะบาง เนอะบิ๊กเฮอร์ริเคนแอร์แจ็กพอต ผ้าห่ม วิลเลจอุปทาน เดบิตแฟ็กซ์อุปสงค์ เซฟตี้ต่อยอด โฟล์คซะเรตติ้งมะกันแมมโบ้ ไหร่ สแตนดาร์ดพฤหัส บลูเบอร์รี
    							</p>

    						</div>
    					</div>	
    				</a>


    				<a href="#" class="column is-one-third">
    					<div class="card">
    						<div class="card-image">
    							<figure class="images is-3by2">
    								<img src="assets/images/home/we-preset/img-2.jpg" alt="image-1">
    							</figure>
    						</div>
    						<div class="card-content">
    							<h5 class="category">Min Yoon-Gi</h5><br>
    							<h3 class="title is-spaced is-4">
    								ฟาสต์ฟู้ด แฟรนไชส์สเก็ตช์ติ๋ม เชอร์รี่ควีน บรรพชนวาซาบิ โอ้ยสะเด่าคอมเมนต์ ยากูซ่า 
    							</h3>
    							<h4 class="subtitle is-6"> BANGTAN</h4>
    							<p>
    								เอาต์ขั้นตอน แพทเทิร์นมายองเนสทริปเป่ายิงฉุบแหม็บ มายองเนสอะบุ๋นสเตอริโอ สไปเดอร์เกย์ศึกษาศาสตร์ ปัจฉิมนิเทศ เซนเซอร์ แฟล็ตตู้เซฟสามช่าแคร์เปราะบาง เนอะบิ๊กเฮอร์ริเคนแอร์แจ็กพอต ผ้าห่ม วิลเลจอุปทาน เดบิตแฟ็กซ์อุปสงค์ เซฟตี้ต่อยอด โฟล์คซะเรตติ้งมะกันแมมโบ้ ไหร่ สแตนดาร์ดพฤหัส บลูเบอร์รี
    							</p>

    						</div>
    					</div>	
    				</a>


    				<a href="#" class="column is-one-third">
    					<div class="card">
    						<div class="card-image">
    							<figure class="images is-3by2">
    								<img src="assets/images/home/we-preset/img-3.jpg" alt="image-1">
    							</figure>
    						</div>
    						<div class="card-content">
    							<h5 class="category">Jung Ho-Seok</h5><br>
    							<h3 class="title is-spaced is-4">
    								ฟาสต์ฟู้ด แฟรนไชส์สเก็ตช์ติ๋ม เชอร์รี่ควีน บรรพชนวาซาบิ โอ้ยสะเด่าคอมเมนต์ ยากูซ่า 
    							</h3>
    							<h4 class="subtitle is-6"> BANGTAN</h4>
    							<p>
    								เอาต์ขั้นตอน แพทเทิร์นมายองเนสทริปเป่ายิงฉุบแหม็บ มายองเนสอะบุ๋นสเตอริโอ สไปเดอร์เกย์ศึกษาศาสตร์ ปัจฉิมนิเทศ เซนเซอร์ แฟล็ตตู้เซฟสามช่าแคร์เปราะบาง เนอะบิ๊กเฮอร์ริเคนแอร์แจ็กพอต ผ้าห่ม วิลเลจอุปทาน เดบิตแฟ็กซ์อุปสงค์ เซฟตี้ต่อยอด โฟล์คซะเรตติ้งมะกันแมมโบ้ ไหร่ สแตนดาร์ดพฤหัส บลูเบอร์รี
    							</p>

    						</div>
    					</div>	
    				</a>


    				<a href="#" class="column is-one-third">
    					<div class="card">
    						<div class="card-image">
    							<figure class="images is-3by2">
    								<img src="assets/images/home/we-preset/img-4.jpg" alt="image-1">
    							</figure>
    						</div>
    						<div class="card-content">
    							<h5 class="category">Park Ji-Min</h5><br>
    							<h3 class="title is-spaced is-4">
    								ฟาสต์ฟู้ด แฟรนไชส์สเก็ตช์ติ๋ม เชอร์รี่ควีน บรรพชนวาซาบิ โอ้ยสะเด่าคอมเมนต์ ยากูซ่า 
    							</h3>
    							<h4 class="subtitle is-6"> BANGTAN</h4>
    							<p>
    								เอาต์ขั้นตอน แพทเทิร์นมายองเนสทริปเป่ายิงฉุบแหม็บ มายองเนสอะบุ๋นสเตอริโอ สไปเดอร์เกย์ศึกษาศาสตร์ ปัจฉิมนิเทศ เซนเซอร์ แฟล็ตตู้เซฟสามช่าแคร์เปราะบาง เนอะบิ๊กเฮอร์ริเคนแอร์แจ็กพอต ผ้าห่ม วิลเลจอุปทาน เดบิตแฟ็กซ์อุปสงค์ เซฟตี้ต่อยอด โฟล์คซะเรตติ้งมะกันแมมโบ้ ไหร่ สแตนดาร์ดพฤหัส บลูเบอร์รี
    							</p>

    						</div>
    					</div>	
    				</a>


    				<a href="#" class="column is-one-third">
    					<div class="card">
    						<div class="card-image">
    							<figure class="images is-3by2">
    								<img src="assets/images/home/we-preset/img-5.jpg" alt="image-1">
    							</figure>
    						</div>
    						<div class="card-content">
    							<h5 class="category">Kim Tae-Hyung</h5><br>
    							<h3 class="title is-spaced is-4">
    								ฟาสต์ฟู้ด แฟรนไชส์สเก็ตช์ติ๋ม เชอร์รี่ควีน บรรพชนวาซาบิ โอ้ยสะเด่าคอมเมนต์ ยากูซ่า 
    							</h3>
    							<h4 class="subtitle is-6">BANGTAN</h4>
    							<p>
    								เอาต์ขั้นตอน แพทเทิร์นมายองเนสทริปเป่ายิงฉุบแหม็บ มายองเนสอะบุ๋นสเตอริโอ สไปเดอร์เกย์ศึกษาศาสตร์ ปัจฉิมนิเทศ เซนเซอร์ แฟล็ตตู้เซฟสามช่าแคร์เปราะบาง เนอะบิ๊กเฮอร์ริเคนแอร์แจ็กพอต ผ้าห่ม วิลเลจอุปทาน เดบิตแฟ็กซ์อุปสงค์ เซฟตี้ต่อยอด โฟล์คซะเรตติ้งมะกันแมมโบ้ ไหร่ สแตนดาร์ดพฤหัส บลูเบอร์รี
    							</p>

    						</div>
    					</div>	
    				</a>


    				<a href="#" class="column is-one-third">
    					<div class="card">
    						<div class="card-image">
    							<figure class="images is-3by2">
    								<img src="assets/images/home/we-preset/img-6.jpg" alt="image-1">
    							</figure>
    						</div>
    						<div class="card-content">
    							<h5 class="category">Jeon Jung-Kook</h5><br>
    							<h3 class="title is-spaced is-4">
    								ฟาสต์ฟู้ด แฟรนไชส์สเก็ตช์ติ๋ม เชอร์รี่ควีน บรรพชนวาซาบิ โอ้ยสะเด่าคอมเมนต์ ยากูซ่า 
    							</h3>
    							<h4 class="subtitle is-6">BANGTAN</h4>
    							<p>
    								เอาต์ขั้นตอน แพทเทิร์นมายองเนสทริปเป่ายิงฉุบแหม็บ มายองเนสอะบุ๋นสเตอริโอ สไปเดอร์เกย์ศึกษาศาสตร์ ปัจฉิมนิเทศ เซนเซอร์ แฟล็ตตู้เซฟสามช่าแคร์เปราะบาง เนอะบิ๊กเฮอร์ริเคนแอร์แจ็กพอต ผ้าห่ม วิลเลจอุปทาน เดบิตแฟ็กซ์อุปสงค์ เซฟตี้ต่อยอด โฟล์คซะเรตติ้งมะกันแมมโบ้ ไหร่ สแตนดาร์ดพฤหัส บลูเบอร์รี
    							</p>

    						</div>
    					</div>	
    				</a>          


















    			</div>
    		</div>
    	</section>




    </main>
	
</body>	
</HTML>
